@import '../../components/style/vars.scss';

.demo-layout {
  background: $white;

  .demo-block {
    padding: 0 $padding-md;

    &__title {
      padding-left: 0;
    }
  }

  .van-col {
    margin-bottom: 10px;
    color: $white;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    background-clip: content-box;

    &:nth-child(odd) {
      background-color: #39a9ed;
    }

    &:nth-child(even) {
      background-color: #66c6f2;
    }
  }
}
