@import '../../components/style/vars.scss';

.demo-style {
    .demo-block {
        padding: 0;

        &__title {
            padding: 32px 16px 16px;
        }
    }

    .#{$base-prefix}ellipsis,
    .#{$base-prefix}ellipsis--l2,
    .#{$base-prefix}ellipsis--l3 {
        max-width: 300px;
        margin-left: $padding-md;
        font-size: 14px;
        line-height: 18px;
    }

    .#{$base-prefix}ellipsis,
    .#{$base-prefix}ellipsis--l2 {
        margin-bottom: $padding-md;
    }

    .#{$base-prefix}hairline--top {
        height: 30px;
        background-color: $white;

        &::after {
            top: 5px;
        }
    }

    .demo-animate-block {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 100px;
        height: 100px;
        margin: -50px 0 0 -50px;
        background-color: $blue;
        border-radius: 3px;
    }
}