$base-prefix: 'van-';
$base-prefix-no: 'van';

// Color Palette
$black: #000 !default;
$white: #fff !default;
$gray-1: #f7f8fa !default;
$gray-2: #f2f3f5 !default;
$gray-3: #ebedf0 !default;
$gray-4: #dcdee0 !default;
$gray-5: #c8c9cc !default;
$gray-6: #969799 !default;
$gray-7: #646566 !default;
$gray-8: #323233 !default;
$red: #ee0a24 !default;
$blue: #1989fa !default;
$orange: #ff976a !default;
$orange-dark: #ed6a0c !default;
$orange-light: #fffbe8 !default;
$green: #07c160 !default;

// Gradient Colors
$gradient-red: linear-gradient(to right, #ff6034, #ee0a24) !default;
$gradient-orange: linear-gradient(to right, #ffd01e, #ff8917) !default;

// Component Colors
$text-color: $gray-8 !default;
$active-color: $gray-2 !default;
$active-opacity: 0.7 !default;
$disabled-opacity: 0.5 !default;
$background-color: $gray-1 !default;
$background-color-light: #fafafa !default;
$text-link-color: #576b95 !default;

// Padding
$padding-base: 4px !default;
$padding-xs: $padding-base * 2 !default;
$padding-sm: $padding-base * 3 !default;
$padding-md: $padding-base * 4 !default;
$padding-lg: $padding-base * 6 !default;
$padding-xl: $padding-base * 8 !default;

// Font
$font-size-xs: 10px !default;
$font-size-sm: 12px !default;
$font-size-md: 14px !default;
$font-size-lg: 16px !default;
$font-weight-bold: 500 !default;
$line-height-xs: 14px !default;
$line-height-sm: 18px !default;
$line-height-md: 20px !default;
$line-height-lg: 22px !default;
$base-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
  Helvetica, Segoe UI, Arial, Roboto, 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft Yahei', sans-serif !default;
$price-integer-font-family: Avenir-Heavy, PingFang SC, Helvetica Neue, Arial,
  sans-serif !default;

// Animation
$animation-duration-base: 0.3s !default;
$animation-duration-fast: 0.2s !default;
$animation-timing-function-enter: ease-out !default;
$animation-timing-function-leave: ease-in !default;

// Border
$border-color: $gray-3 !default;
$border-width-base: 1px !default;
$border-radius-sm: 2px !default;
$border-radius-md: 4px !default;
$border-radius-lg: 8px !default;
$border-radius-max: 999px !default;

// ActionSheet
$action-sheet-max-height: 80% !default;
$action-sheet-header-height: 48px !default;
$action-sheet-header-font-size: $font-size-lg !default;
$action-sheet-description-color: $gray-6 !default;
$action-sheet-description-font-size: $font-size-md !default;
$action-sheet-description-line-height: $line-height-md !default;
$action-sheet-item-background: $white !default;
$action-sheet-item-font-size: $font-size-lg !default;
$action-sheet-item-line-height: $line-height-lg !default;
$action-sheet-item-text-color: $text-color !default;
$action-sheet-item-disabled-text-color: $gray-5 !default;
$action-sheet-subname-color: $gray-6 !default;
$action-sheet-subname-font-size: $font-size-sm !default;
$action-sheet-subname-line-height: $line-height-sm !default;
$action-sheet-close-icon-size: 22px !default;
$action-sheet-close-icon-color: $gray-5 !default;
$action-sheet-close-icon-active-color: $gray-6 !default;
$action-sheet-close-icon-padding: 0 $padding-md !default;
$action-sheet-cancel-text-color: $gray-7 !default;
$action-sheet-cancel-padding-top: $padding-xs !default;
$action-sheet-cancel-padding-color: $background-color !default;
$action-sheet-loading-icon-size: 22px !default;

// AddressEdit
$address-edit-padding: $padding-sm !default;
$address-edit-buttons-padding: $padding-xl $padding-base !default;
$address-edit-button-margin-bottom: $padding-sm !default;
$address-edit-detail-finish-color: $blue !default;
$address-edit-detail-finish-font-size: $font-size-sm !default;

// AddressList
$address-list-padding: $padding-sm $padding-sm 80px !default;
$address-list-disabled-text-color: $gray-6 !default;
$address-list-disabled-text-padding: $padding-base * 5 0 $padding-md !default;
$address-list-disabled-text-font-size: $font-size-md !default;
$address-list-disabled-text-line-height: $line-height-md !default;
$address-list-add-button-z-index: 999 !default;
$address-list-item-padding: $padding-sm !default;
$address-list-item-text-color: $text-color !default;
$address-list-item-disabled-text-color: $gray-5 !default;
$address-list-item-font-size: 13px !default;
$address-list-item-line-height: $line-height-sm !default;
$address-list-item-radio-icon-color: $red !default;
$address-list-edit-icon-size: 20px !default;

// Button
$button-mini-height: 24px !default;
$button-mini-font-size: $font-size-xs !default;
$button-small-height: 32px !default;
$button-small-font-size: $font-size-sm !default;
$button-normal-font-size: $font-size-md !default;
$button-large-height: 50px !default;
$button-default-height: 44px !default;
$button-default-line-height: 1.2 !default;
$button-default-font-size: $font-size-lg !default;
$button-default-color: $text-color !default;
$button-default-background-color: $white !default;
$button-default-border-color: $border-color !default;
$button-primary-color: $white !default;
$button-primary-background-color: $green !default;
$button-primary-border-color: $green !default;
$button-info-color: $white !default;
$button-info-background-color: $blue !default;
$button-info-border-color: $blue !default;
$button-danger-color: $white !default;
$button-danger-background-color: $red !default;
$button-danger-border-color: $red !default;
$button-warning-color: $white !default;
$button-warning-background-color: $orange !default;
$button-warning-border-color: $orange !default;
$button-border-width: $border-width-base !default;
$button-border-radius: $border-radius-sm !default;
$button-round-border-radius: $border-radius-max !default;
$button-plain-background-color: $white !default;
$button-disabled-opacity: $disabled-opacity !default;

// Calendar
$calendar-background-color: $white !default;
$calendar-popup-height: 80% !default;
$calendar-header-box-shadow: 0 2px 10px rgba(125, 126, 128, 0.16) !default;
$calendar-header-title-height: 44px !default;
$calendar-header-title-font-size: $font-size-lg !default;
$calendar-header-subtitle-font-size: $font-size-md !default;
$calendar-weekdays-height: 30px !default;
$calendar-weekdays-font-size: $font-size-sm !default;
$calendar-month-title-font-size: $font-size-md !default;
$calendar-month-mark-color: rgba($gray-2, 80%) !default;
$calendar-month-mark-font-size: 160px !default;
$calendar-day-height: 64px !default;
$calendar-day-font-size: $font-size-lg !default;
$calendar-range-edge-color: $white !default;
$calendar-range-edge-background-color: $red !default;
$calendar-range-middle-color: $red !default;
$calendar-range-middle-background-opacity: 0.1 !default;
$calendar-selected-day-size: 54px !default;
$calendar-selected-day-color: $white !default;
$calendar-info-font-size: $font-size-xs !default;
$calendar-info-line-height: $line-height-xs !default;
$calendar-selected-day-background-color: $red !default;
$calendar-day-disabled-color: $gray-5 !default;
$calendar-confirm-button-height: 36px !default;
$calendar-confirm-button-margin: 7px 0 !default;

// Card
$card-padding: $padding-xs $padding-md !default;
$card-font-size: $font-size-sm !default;
$card-text-color: $text-color !default;
$card-background-color: $background-color-light !default;
$card-thumb-size: 88px !default;
$card-thumb-border-radius: $border-radius-lg !default;
$card-title-line-height: 16px !default;
$card-desc-color: $gray-7 !default;
$card-desc-line-height: $line-height-md !default;
$card-price-color: $gray-8 !default;
$card-origin-price-color: $gray-6 !default;
$card-num-color: $gray-6 !default;
$card-origin-price-font-size: $font-size-xs !default;
$card-price-font-size: $font-size-sm !default;
$card-price-integer-font-size: $font-size-lg !default;
$card-price-font-family: $price-integer-font-family !default;

// Cell
$cell-font-size: $font-size-md !default;
$cell-line-height: 24px !default;
$cell-vertical-padding: 10px !default;
$cell-horizontal-padding: $padding-md !default;
$cell-text-color: $text-color !default;
$cell-background-color: $white !default;
$cell-border-color: $border-color !default;
$cell-active-color: $active-color !default;
$cell-required-color: $red !default;
$cell-label-color: $gray-6 !default;
$cell-label-font-size: $font-size-sm !default;
$cell-label-line-height: $line-height-sm !default;
$cell-label-margin-top: $padding-base !default;
$cell-value-color: $gray-6 !default;
$cell-icon-size: 16px !default;
$cell-right-icon-color: $gray-6 !default;
$cell-large-vertical-padding: $padding-sm !default;
$cell-large-title-font-size: $font-size-lg !default;
$cell-large-label-font-size: $font-size-md !default;

// CellGroup
$cell-group-background-color: $white !default;
$cell-group-title-color: $gray-6 !default;
$cell-group-title-padding: $padding-md $padding-md $padding-xs !default;
$cell-group-title-font-size: $font-size-md !default;
$cell-group-title-line-height: 16px !default;

// Checkbox
$checkbox-size: 20px !default;
$checkbox-border-color: $gray-5 !default;
$checkbox-transition-duration: $animation-duration-fast !default;
$checkbox-label-margin: $padding-xs !default;
$checkbox-label-color: $text-color !default;
$checkbox-checked-icon-color: $blue !default;
$checkbox-disabled-icon-color: $gray-5 !default;
$checkbox-disabled-label-color: $gray-5 !default;
$checkbox-disabled-background-color: $border-color !default;

// Circle
$circle-text-color: $text-color !default;
$circle-text-font-weight: $font-weight-bold !default;
$circle-text-font-size: $font-size-md !default;
$circle-text-line-height: $line-height-md !default;

// Collapse
$collapse-item-transition-duration: $animation-duration-base !default;
$collapse-item-content-padding: $padding-sm $padding-md !default;
$collapse-item-content-font-size: $font-size-md !default;
$collapse-item-content-line-height: 1.5 !default;
$collapse-item-content-text-color: $gray-6 !default;
$collapse-item-content-background-color: $white !default;
$collapse-item-title-disabled-color: $gray-5 !default;

// ContactCard
$contact-card-padding: $padding-md !default;
$contact-card-add-icon-size: 40px !default;
$contact-card-add-icon-color: $blue !default;
$contact-card-value-line-height: $line-height-md !default;

// ContactEdit
$contact-edit-padding: $padding-md !default;
$contact-edit-fields-radius: $border-radius-md !default;
$contact-edit-buttons-padding: $padding-xl 0 !default;
$contact-edit-button-margin-bottom: $padding-sm !default;
$contact-edit-button-font-size: 16px !default;
$contact-edit-field-label-width: 4.1em !default;

// ContactList
$contact-list-edit-icon-size: 16px !default;
$contact-list-add-button-z-index: 999 !default;
$contact-list-item-padding: $padding-md !default;

// CountDown
$count-down-text-color: $text-color !default;
$count-down-font-size: $font-size-md !default;
$count-down-line-height: $line-height-md !default;

// Coupon
$coupon-margin: 0 $padding-sm $padding-sm !default;
$coupon-content-height: 84px !default;
$coupon-content-padding: 14px 0 !default;
$coupon-background-color: $white !default;
$coupon-active-background-color: $active-color !default;
$coupon-border-radius: $border-radius-lg !default;
$coupon-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1) !default;
$coupon-head-width: 96px !default;
$coupon-amount-color: $red !default;
$coupon-amount-font-size: 30px !default;
$coupon-currency-font-size: 40% !default;
$coupon-name-font-size: $font-size-md !default;
$coupon-disabled-text-color: $gray-6 !default;
$coupon-description-padding: $padding-xs $padding-md !default;
$coupon-description-border-color: $border-color !default;

// CouponCell
$coupon-cell-selected-text-color: $text-color !default;

// CouponList
$coupon-list-background-color: $background-color !default;
$coupon-list-field-padding: 5px 0 5px $padding-md !default;
$coupon-list-exchange-button-height: 32px !default;
$coupon-list-close-button-height: 40px !default;
$coupon-list-empty-image-size: 200px !default;
$coupon-list-empty-tip-color: $gray-6 !default;
$coupon-list-empty-tip-font-size: $font-size-md !default;
$coupon-list-empty-tip-line-height: $line-height-md !default;

// Dialog
$dialog-width: 320px !default;
$dialog-small-screen-width: 90% !default;
$dialog-font-size: $font-size-lg !default;
$dialog-transition: $animation-duration-base !default;
$dialog-border-radius: 16px !default;
$dialog-background-color: $white !default;
$dialog-header-font-weight: $font-weight-bold !default;
$dialog-header-line-height: 24px !default;
$dialog-header-padding-top: $padding-lg !default;
$dialog-header-isolated-padding: $padding-lg 0 !default;
$dialog-message-padding: $padding-lg !default;
$dialog-message-font-size: $font-size-md !default;
$dialog-message-line-height: $line-height-md !default;
$dialog-message-max-height: 60vh !default;
$dialog-has-title-message-text-color: $gray-7 !default;
$dialog-has-title-message-padding-top: $padding-xs !default;
$dialog-confirm-button-text-color: $red !default;

// Divider
$divider-margin: $padding-md 0 !default;
$divider-text-color: $gray-6 !default;
$divider-font-size: $font-size-md !default;
$divider-line-height: 24px !default;
$divider-border-color: $border-color !default;
$divider-content-padding: $padding-md !default;
$divider-content-left-width: 10% !default;
$divider-content-right-width: 10% !default;

// DropdownMenu
$dropdown-menu-height: 48px !default;
$dropdown-menu-background-color: $white !default;
$dropdown-menu-box-shadow: 0 2px 12px rgba($gray-7, 12) !default;
$dropdown-menu-title-font-size: 15px !default;
$dropdown-menu-title-text-color: $text-color !default;
$dropdown-menu-title-active-text-color: $red !default;
$dropdown-menu-title-disabled-text-color: $gray-6 !default;
$dropdown-menu-title-padding: 0 $padding-xs !default;
$dropdown-menu-title-line-height: $line-height-lg !default;
$dropdown-menu-option-active-color: $red !default;
$dropdown-menu-content-max-height: 80% !default;
$dropdown-item-z-index: 10 !default;

// Empty
$empty-padding: $padding-xl 0 !default;
$empty-image-size: 160px !default;
$empty-description-margin-top: $padding-md !default;
$empty-description-padding: 0 60px !default;
$empty-description-color: $gray-6 !default;
$empty-description-font-size: $font-size-md !default;
$empty-description-line-height: $line-height-md !default;
$empty-bottom-margin-top: 24px !default;

// Field
$field-label-width: 6.2em !default;
$field-label-color: $gray-7 !default;
$field-label-margin-right: $padding-sm !default;
$field-input-text-color: $text-color !default;
$field-input-error-text-color: $red !default;
$field-input-disabled-text-color: $gray-5 !default;
$field-placeholder-text-color: $gray-5 !default;
$field-icon-size: 16px !default;
$field-clear-icon-size: 16px !default;
$field-clear-icon-color: $gray-5 !default;
$field-right-icon-color: $gray-6 !default;
$field-error-message-color: $red !default;
$field-error-message-text-color: 12px !default;
$field-text-area-min-height: 60px !default;
$field-word-limit-color: $gray-7 !default;
$field-word-limit-font-size: $font-size-sm !default;
$field-word-limit-line-height: 16px !default;
$field-disabled-text-color: $gray-5 !default;

// GridItem
$grid-item-content-padding: $padding-md $padding-xs !default;
$grid-item-content-background-color: $white !default;
$grid-item-content-active-color: $active-color !default;
$grid-item-icon-size: 28px !default;
$grid-item-text-color: $gray-7 !default;
$grid-item-text-font-size: $font-size-sm !default;

// GoodsAction
$goods-action-background-color: $white !default;
$goods-action-height: 50px !default;
$goods-action-icon-width: 48px !default;
$goods-action-icon-height: 100% !default;
$goods-action-icon-color: $text-color !default;
$goods-action-icon-size: 18px !default;
$goods-action-icon-font-size: $font-size-xs !default;
$goods-action-icon-active-color: $active-color !default;
$goods-action-icon-text-color: $gray-7 !default;
$goods-action-button-height: 40px !default;
$goods-action-button-warning-color: $gradient-orange !default;
$goods-action-button-danger-color: $gradient-red !default;

// IndexAnchor
$index-anchor-z-index: 1 !default;
$index-anchor-padding: 0 $padding-md !default;
$index-anchor-text-color: $text-color !default;
$index-anchor-font-weight: $font-weight-bold !default;
$index-anchor-font-size: $font-size-md !default;
$index-anchor-line-height: 32px !default;
$index-anchor-background-color: transparent !default;
$index-anchor-sticky-text-color: $green !default;
$index-anchor-sticky-background-color: $white !default;

// IndexBar
$index-bar-sidebar-z-index: 2 !default;
$index-bar-index-font-size: $font-size-xs !default;
$index-bar-index-line-height: $line-height-xs !default;
$index-bar-index-active-color: $green !default;

// Info
$info-size: 16px !default;
$info-color: $white !default;
$info-padding: 0 3px !default;
$info-font-size: $font-size-sm !default;
$info-font-weight: $font-weight-bold !default;
$info-border-width: $border-width-base !default;
$info-background-color: $red !default;
$info-dot-color: $red !default;
$info-dot-size: 8px !default;

// Image
$image-placeholder-text-color: $gray-6 !default;
$image-placeholder-font-size: $font-size-md !default;
$image-placeholder-background-color: $background-color !default;
$image-loading-icon-size: 32px !default;
$image-loading-icon-color: $gray-4 !default;
$image-error-icon-size: 32px !default;
$image-error-icon-color: $gray-4 !default;

// ImagePreview
$image-preview-index-text-color: $white !default;
$image-preview-index-font-size: $font-size-md !default;
$image-preview-index-line-height: $line-height-md !default;
$image-preview-index-text-shadow: 0 1px 1px $gray-8 !default;
$image-preview-overlay-background-color: rgba(0, 0, 0, 0.9) !default;
$image-preview-close-icon-size: 22px !default;
$image-preview-close-icon-color: $gray-5 !default;
$image-preview-close-icon-active-color: $gray-6 !default;
$image-preview-close-icon-margin: $padding-md !default;
$image-preview-close-icon-z-index: 1 !default;

// List
$list-icon-margin-right: 5px !default;
$list-text-color: $gray-6 !default;
$list-text-font-size: $font-size-md !default;
$list-text-line-height: 50px !default;

// Loading
$loading-text-color: $gray-6 !default;
$loading-text-font-size: $font-size-md !default;
$loading-spinner-color: $gray-5 !default;
$loading-spinner-size: 30px !default;
$loading-spinner-animation-duration: 0.8s !default;

// NavBar
$nav-bar-height: 46px !default;
$nav-bar-background-color: $white !default;
$nav-bar-arrow-size: 16px !default;
$nav-bar-icon-color: $blue !default;
$nav-bar-text-color: $blue !default;
$nav-bar-title-font-size: $font-size-lg !default;
$nav-bar-title-text-color: $text-color !default;
$nav-bar-z-index: 1 !default;

// NoticeBar
$notice-bar-height: 40px !default;
$notice-bar-padding: 0 $padding-md !default;
$notice-bar-wrapable-padding: $padding-xs $padding-md !default;
$notice-bar-text-color: $orange-dark !default;
$notice-bar-font-size: $font-size-md !default;
$notice-bar-line-height: 24px !default;
$notice-bar-background-color: $orange-light !default;
$notice-bar-icon-size: 16px !default;
$notice-bar-icon-min-width: 24px !default;

// Notify
$notify-text-color: $white !default;
$notify-padding: $padding-xs $padding-md !default;
$notify-font-size: $font-size-md !default;
$notify-line-height: $line-height-md !default;
$notify-primary-background-color: $blue !default;
$notify-success-background-color: $green !default;
$notify-danger-background-color: $red !default;
$notify-warning-background-color: $orange !default;

// NumberKeyboard
$number-keyboard-background-color: $gray-2 !default;
$number-keyboard-key-height: 48px !default;
$number-keyboard-key-font-size: 28px !default;
$number-keyboard-key-active-color: $gray-3 !default;
$number-keyboard-delete-font-size: $font-size-lg !default;
$number-keyboard-title-color: $gray-7 !default;
$number-keyboard-title-height: 34px !default;
$number-keyboard-title-font-size: $font-size-lg !default;
$number-keyboard-close-padding: 0 $padding-md !default;
$number-keyboard-close-color: $text-link-color !default;
$number-keyboard-close-font-size: $font-size-md !default;
$number-keyboard-button-text-color: $white !default;
$number-keyboard-button-background-color: $blue !default;
$number-keyboard-cursor-color: $text-color !default;
$number-keyboard-cursor-width: 1px !default;
$number-keyboard-cursor-height: 40% !default;
$number-keyboard-cursor-animation-duration: 1s !default;
$number-keyboard-z-index: 100 !default;

// Overlay
$overlay-z-index: 1 !default;
$overlay-background-color: rgba(0, 0, 0, 0.4) !default;

// Pagination
$pagination-height: 40px !default;
$pagination-font-size: $font-size-md !default;
$pagination-item-width: 36px !default;
$pagination-item-default-color: $blue !default;
$pagination-item-disabled-color: $gray-7 !default;
$pagination-item-disabled-background-color: $background-color !default;
$pagination-background-color: $white !default;
$pagination-desc-color: $gray-7 !default;
$pagination-disabled-opacity: $disabled-opacity !default;

// Panel
$panel-background-color: $white !default;
$panel-header-value-color: $red !default;
$panel-footer-padding: $padding-xs $padding-md !default;

// PasswordInput
$password-input-height: 50px !default;
$password-input-margin: 0 $padding-md !default;
$password-input-font-size: 20px !default;
$password-input-border-radius: 6px !default;
$password-input-background-color: $white !default;
$password-input-info-color: $gray-6 !default;
$password-input-info-font-size: $font-size-md !default;
$password-input-error-info-color: $red !default;
$password-input-dot-size: 10px !default;
$password-input-dot-color: $black !default;

// Picker
$picker-background-color: $white !default;
$picker-toolbar-height: 44px !default;
$picker-title-font-size: $font-size-lg !default;
$picker-title-line-height: $line-height-md !default;
$picker-action-padding: 0 $padding-md !default;
$picker-action-font-size: $font-size-md !default;
$picker-confirm-action-color: $text-link-color !default;
$picker-cancel-action-color: $gray-6 !default;
$picker-option-font-size: $font-size-lg !default;
$picker-option-text-color: $black !default;
$picker-option-disabled-opacity: 0.3 !default;
$picker-loading-icon-color: $blue !default;
$picker-loading-mask-color: rgba(255, 255, 255, 0.9) !default;

// Popup
$popup-background-color: $white !default;
$popup-transition: transform $animation-duration-base !default;
$popup-round-border-radius: 20px !default;
$popup-close-icon-size: 22px !default;
$popup-close-icon-color: $gray-5 !default;
$popup-close-icon-active-color: $gray-6 !default;
$popup-close-icon-margin: 16px !default;
$popup-close-icon-z-index: 1 !default;

// Progress
$progress-height: 4px !default;
$progress-color: $blue !default;
$progress-background-color: $gray-3 !default;
$progress-pivot-padding: 0 5px !default;
$progress-pivot-text-color: $white !default;
$progress-pivot-font-size: $font-size-xs !default;
$progress-pivot-line-height: 1.6 !default;
$progress-pivot-background-color: $blue !default;

// PullRefresh
$pull-refresh-head-height: 50px !default;
$pull-refresh-head-font-size: $font-size-md !default;
$pull-refresh-head-text-color: $gray-6 !default;

// Radio
$radio-size: 20px !default;
$radio-border-color: $gray-5 !default;
$radio-transition-duration: $animation-duration-fast !default;
$radio-label-margin: $padding-xs !default;
$radio-label-color: $text-color !default;
$radio-checked-icon-color: $blue !default;
$radio-disabled-icon-color: $gray-5 !default;
$radio-disabled-label-color: $gray-5 !default;
$radio-disabled-background-color: $border-color !default;

// Rate
$rate-icon-size: 20px !default;
$rate-icon-gutter: $padding-base !default;
$rate-icon-void-color: $gray-5 !default;
$rate-icon-full-color: $red !default;
$rate-icon-disabled-color: $gray-5 !default;

// ShareSheet
$share-sheet-header-padding: $padding-sm $padding-md $padding-base !default;
$share-sheet-title-color: $text-color !default;
$share-sheet-title-font-size: $font-size-md !default;
$share-sheet-title-line-height: $line-height-md !default;
$share-sheet-description-color: $gray-6 !default;
$share-sheet-description-font-size: $font-size-sm !default;
$share-sheet-description-line-height: 16px !default;
$share-sheet-icon-size: 48px !default;
$share-sheet-option-name-color: $gray-7 !default;
$share-sheet-option-name-font-size: $font-size-sm !default;
$share-sheet-option-description-color: $gray-5 !default;
$share-sheet-option-description-font-size: $font-size-sm !default;
$share-sheet-cancel-button-font-size: $font-size-lg !default;
$share-sheet-cancel-button-height: 48px !default;
$share-sheet-cancel-button-background: $white !default;

// Search
$search-padding: 10px $padding-sm !default;
$search-background-color: $white !default;
$search-content-background-color: $gray-1 !default;
$search-input-height: 34px !default;
$search-label-padding: 0 5px !default;
$search-label-color: $text-color !default;
$search-label-font-size: $font-size-md !default;
$search-left-icon-color: $gray-6 !default;
$search-action-padding: 0 $padding-xs !default;
$search-action-text-color: $text-color !default;
$search-action-font-size: $font-size-md !default;

// Sidebar
$sidebar-width: 80px !default;
$sidebar-font-size: $font-size-md !default;
$sidebar-line-height: $line-height-md !default;
$sidebar-text-color: $text-color !default;
$sidebar-disabled-text-color: $gray-5 !default;
$sidebar-padding: 20px $padding-sm !default;
$sidebar-active-color: $active-color !default;
$sidebar-background-color: $background-color !default;
$sidebar-selected-font-weight: $font-weight-bold !default;
$sidebar-selected-text-color: $text-color !default;
$sidebar-selected-border-width: 4px !default;
$sidebar-selected-border-height: 16px !default;
$sidebar-selected-border-color: $red !default;
$sidebar-selected-background-color: $white !default;

// Skeleton
$skeleton-row-height: 16px !default;
$skeleton-row-background-color: $active-color !default;
$skeleton-row-margin-top: $padding-sm !default;
$skeleton-avatar-background-color: $active-color !default;
$skeleton-animation-duration: 1.2s !default;

// Slider
$slider-active-background-color: $blue !default;
$slider-inactive-background-color: $gray-3 !default;
$slider-disabled-opacity: $disabled-opacity !default;
$slider-bar-height: 2px !default;
$slider-button-width: 24px !default;
$slider-button-height: 24px !default;
$slider-button-border-radius: 50% !default;
$slider-button-background-color: $white !default;
$slider-button-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) !default;

// Step
$step-text-color: $gray-6 !default;
$step-active-color: $green !default;
$step-process-text-color: $text-color !default;
$step-font-size: $font-size-md !default;
$step-line-color: $border-color !default;
$step-finish-line-color: $green !default;
$step-finish-text-color: $text-color !default;
$step-icon-size: 12px !default;
$step-circle-size: 5px !default;
$step-circle-color: $gray-6 !default;
$step-horizontal-title-font-size: $font-size-sm !default;

// Steps
$steps-background-color: $white !default;

// Sticky
$sticky-z-index: 99 !default;

// Stepper
$stepper-active-color: #e8e8e8 !default;
$stepper-background-color: $active-color !default;
$stepper-button-icon-color: $text-color !default;
$stepper-button-disabled-color: $background-color !default;
$stepper-button-disabled-icon-color: $gray-5 !default;
$stepper-button-round-theme-color: $red !default;
$stepper-input-width: 32px !default;
$stepper-input-height: 28px !default;
$stepper-input-font-size: $font-size-md !default;
$stepper-input-line-height: normal !default;
$stepper-input-text-color: $text-color !default;
$stepper-input-disabled-text-color: $gray-5 !default;
$stepper-input-disabled-background-color: $active-color !default;
$stepper-border-radius: $border-radius-md !default;

// SubmitBar
$submit-bar-height: 50px !default;
$submit-bar-z-index: 100 !default;
$submit-bar-background-color: $white !default;
$submit-bar-button-width: 110px !default;
$submit-bar-price-color: $red !default;
$submit-bar-price-font-size: $font-size-md !default;
$submit-bar-currency-font-size: $font-size-md !default;
$submit-bar-text-color: $text-color !default;
$submit-bar-text-font-size: $font-size-md !default;
$submit-bar-tip-padding: $padding-xs $padding-sm !default;
$submit-bar-tip-font-size: $font-size-sm !default;
$submit-bar-tip-line-height: 1.5 !default;
$submit-bar-tip-color: #f56723 !default;
$submit-bar-tip-background-color: #fff7cc !default;
$submit-bar-tip-icon-size: 12px !default;
$submit-bar-button-height: 40px !default;
$submit-bar-padding: 0 $padding-md !default;
$submit-bar-price-integer-font-size: 20px !default;
$submit-bar-price-font-family: $price-integer-font-family !default;

// Swipe
$swipe-indicator-size: 6px !default;
$swipe-indicator-margin: $padding-sm !default;
$swipe-indicator-active-opacity: 1 !default;
$swipe-indicator-inactive-opacity: 0.3 !default;
$swipe-indicator-active-background-color: $blue !default;
$swipe-indicator-inactive-background-color: $border-color !default;

// Switch
$switch-size: 30px !default;
$switch-width: 2em !default;
$switch-height: 1em !default;
$switch-node-size: 1em !default;
$switch-node-z-index: 1 !default;
$switch-node-background-color: $white !default;
$switch-node-box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.05),
  0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.05) !default;
$switch-background-color: $white !default;
$switch-on-background-color: $blue !default;
$switch-transition-duration: $animation-duration-base !default;
$switch-disabled-opacity: $disabled-opacity !default;
$switch-border: $border-width-base solid rgba(0, 0, 0, 0.1) !default;

// SwitchCell
$switch-cell-padding-top: $cell-vertical-padding - 1px !default;
$switch-cell-padding-bottom: $cell-vertical-padding - 1px !default;
$switch-cell-large-padding-top: $cell-large-vertical-padding - 1px !default;
$switch-cell-large-padding-bottom: $cell-large-vertical-padding - 1px !default;

// Tabbar
$tabbar-height: 50px !default;
$tabbar-z-index: 1 !default;
$tabbar-background-color: $white !default;

// TabbarItem
$tabbar-item-font-size: $font-size-sm !default;
$tabbar-item-text-color: $gray-7 !default;
$tabbar-item-active-color: $blue !default;
$tabbar-item-line-height: 1 !default;
$tabbar-item-icon-size: 22px !default;
$tabbar-item-margin-bottom: 4px !default;

// Tab
$tab-text-color: $gray-7 !default;
$tab-active-text-color: $text-color !default;
$tab-disabled-text-color: $gray-5 !default;
$tab-font-size: $font-size-md !default;

// Tabs
$tabs-default-color: $red !default;
$tabs-line-height: 44px !default;
$tabs-card-height: 30px !default;
$tabs-nav-background-color: $white !default;
$tabs-bottom-bar-height: 3px !default;
$tabs-bottom-bar-color: $tabs-default-color !default;

// Tag
$tag-padding: 0 $padding-base !default;
$tag-text-color: $white !default;
$tag-font-size: $font-size-sm !default;
$tag-border-radius: 2px !default;
$tag-line-height: 16px !default;
$tag-medium-padding: 2px 6px !default;
$tag-large-padding: $padding-base $padding-xs !default;
$tag-large-border-radius: $border-radius-md !default;
$tag-large-font-size: $font-size-md !default;
$tag-round-border-radius: $border-radius-max !default;
$tag-danger-color: $red !default;
$tag-primary-color: $blue !default;
$tag-success-color: $green !default;
$tag-warning-color: $orange !default;
$tag-default-color: $gray-6 !default;
$tag-plain-background-color: $white !default;

// Toast
$toast-max-width: 70% !default;
$toast-font-size: $font-size-md !default;
$toast-text-color: $white !default;
$toast-loading-icon-color: $white !default;
$toast-line-height: $line-height-md !default;
$toast-border-radius: $border-radius-lg !default;
$toast-background-color: rgba($black, 70%) !default;
$toast-icon-size: 36px !default;
$toast-text-min-width: 96px !default;
$toast-text-padding: $padding-xs $padding-sm !default;
$toast-default-padding: $padding-md !default;
$toast-default-width: 88px !default;
$toast-default-min-height: 88px !default;
$toast-position-top-distance: 50px !default;
$toast-position-bottom-distance: 50px !default;

// TreeSelect
$tree-select-font-size: $font-size-md !default;
$tree-select-nav-background-color: $background-color !default;
$tree-select-content-background-color: $white !default;
$tree-select-nav-item-padding: 14px $padding-sm !default;
$tree-select-item-height: 48px !default;
$tree-select-item-active-color: $red !default;
$tree-select-item-disabled-color: $gray-5 !default;
$tree-select-item-selected-size: 16px !default;

// Uploader
$uploader-size: 80px !default;
$uploader-icon-size: 24px !default;
$uploader-icon-color: $gray-4 !default;
$uploader-text-color: $gray-6 !default;
$uploader-text-font-size: $font-size-sm !default;
$uploader-upload-background-color: $gray-1 !default;
$uploader-upload-active-color: $active-color !default;
$uploader-delete-color: $white !default;
$uploader-delete-icon-size: 14px !default;
$uploader-delete-background-color: rgba(0, 0, 0, 0.7) !default;
$uploader-file-background-color: $background-color !default;
$uploader-file-icon-size: 20px !default;
$uploader-file-icon-color: $gray-7 !default;
$uploader-file-name-padding: 0 $padding-base !default;
$uploader-file-name-margin-top: $padding-xs !default;
$uploader-file-name-font-size: $font-size-sm !default;
$uploader-file-name-text-color: $gray-7 !default;
$uploader-mask-background-color: rgba($gray-8, 88%) !default;
$uploader-mask-icon-size: 22px !default;
$uploader-mask-message-font-size: $font-size-sm !default;
$uploader-mask-message-line-height: $line-height-xs !default;
$uploader-loading-icon-size: 22px !default;
$uploader-loading-icon-color: $white !default;
$uploader-disabled-opacity: $disabled-opacity !default;

// Sku
$sku-item-background-color: $background-color !default;
$sku-icon-gray-color: $gray-4 !default;
$sku-upload-mask-color: rgba(50, 50, 51, 0.8) !default;
