@import './var.scss';

.#{$base-prefix}sticky {

  &--fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $sticky-z-index;
  }
}

.sticky {

  &_fixed {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 99;
  }
}
